<div class="container-fluid px-0 bg-primary">
    <nav class="navbar navbar-light container navbar-expand-xl">
        <a asp-controller="Home" asp-action="Index" class="navbar-brand"><h1 class="text-white display-6">E-commerce Shop</h1></a>
        <button class="navbar-toggler py-2 px-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="fa fa-bars text-white"></span>
        </button>
        <div class="d-flex m-3 me-0 ms-auto">
            <a href="#" class="text-white"><small class="text-white mx-2">Chính sách bảo mật</small>/</a>
            <a href="#" class="text-white"><small class="text-white mx-2">Điều khoản sử dụng</small>/</a>
            <a href="#" class="text-white"><small class="text-white ms-2">Bán hàng và hoàn tiền</small></a>
        </div>
    </nav>
</div>