@using Microsoft.AspNetCore.Identity
@using EcommerceMVC.Data

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<div class="dropdown">
    <button class="btn dropdown-toggle text-primary" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-user fa-2x"></i>
    </button>
    @if (SignInManager.IsSignedIn(User))
    {
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <li>
                <a class="dropdown-item" asp-area="Identity" asp-controller="Manage" asp-action="Index">Thông tin cá nhân</a>
            </li>
            <li>
                <a class="dropdown-item">Đơn hàng</a>
            </li>
            <li>
                <form asp-area="Identity" asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm">
                    <button type="submit" class="dropdown-item bg-transparent border-0">Đăng xuất</button>
                </form>
            </li>
        </ul>
    }
    else
    {
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <li class="nav-item">
                <a class="dropdown-item" asp-area="Identity" asp-controller="Account" asp-action="Register">Đăng ký</a>
            </li>
            <li class="nav-item">
                <a class="dropdown-item" asp-area="Identity" asp-controller="Account" asp-action="Login">Đăng nhập</a>
            </li>
        </ul>
    }
</div>