@{
    ViewData["Title"] = "Thêm nhà cung cấp";
}
<div class="container-fluid pt-4 px-4">
    <div class="bg-light rounded h-100 p-4">
        <h2>Thêm nhà cung cấp</h2>
        <form>
            <div class="mb-3">
                <label for="ProductName" class="form-label">Tên sản phẩm</label>
                <input type="text" class="form-control" id="ProductName">
            </div>
            <a class="btn btn-light" asp-controller="Category" asp-action="Index">Trở về</a>
            <button type="submit" class="btn btn-primary">Thêm</button>
        </form>
    </div>
</div>